{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Log</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
          </button>
            <!--定义一个按钮，将在浏览器窗口太窄，无法水平显示整个导航栏时显示出来-->
          <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>
            <!--最左边显示项目名，并将其设置为到主页的链接，因为他将出现在这个项目的每个页面中-->
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'learning_logs:topics' %}">Topics</a></li>
          </ul>
<!--导航栏实际上使一个以<ul>打头的列表，其中每个链接都是一个列表项<li>,要添加更多的链接，可插入更多使用下述结构的行这行表示导航栏中的一个链接，从base.html复制过来的-->
          <ul class="nav navbar-nav navbar-right">
          <!--出现导航栏右边，登陆链接和注册链接通常出现在右边-->
            {% if user.is_authenticated %}
              <li><a>Hello, {{ user.username }}.</a></li>
              <li><a href="{% url 'users:logout' %}">log out</a></li>
            {% else %}
              <li><a href="{% url 'users:register' %}">register</a></li>
              <li><a href="{% url 'users:login' %}">log in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <div class="container">

      <div class="page-header">
        {% block header %}{% endblock %}
      </div>
      <div>
        {% block content %}{% endblock %}
      </div>

    </div> <!-- /container -->

  </body>
</html>
<!--
1处是一个<nav>元素，表示页面的导航链接部分，对于这个元素内的所有内容，都将根据选择器(selector),navbar\navbar-default\navbar-static-top
定义的Bootstrap样式规则来设置样式，选择器决定了特定样式将应用于页面上的哪些元素。
-->











